<div class="container">
  <h1 class="text-white">Testimonials</h1>
  <div class="row py-3">
    {{#each data}}
      <div class="col">
        <p class="text-black-50">
          {{summary}}
          <span class="text-white">{{name}}</span><br />
          <a href="#">{{email}}</a>
        </p>
      </div>
    {{/each}}
  </div>
</div>